Repository adobecom/dme-partners, pull requests merged in 2025-01, with the labels that each got.

#175 banner test fix
  nala/blocks/banners/banners.page.js
Labels: testing-nala-tests

#174 removing .renew-banner className and styles, using notification block…
  edsdme/scripts/scripts.js
  edsdme/scripts/utils.js
  edsdme/styles/styles.css
  test/scripts/utils.jest.js
Labels: run-on-dme

#179 Fixing Announcments display
  edsdme/blocks/search-full/SearchCardsStyles.js
  edsdme/components/PartnerCardsStyles.js
Labels: run-on-dme

#180 fix search viewpoints
  edsdme/blocks/search-full/SearchCardsStyles.js
Labels: run-on-dme

#176 Smoke Tests
  nala/blocks/region-selectors/region-selectors.page.js
  nala/blocks/region-selectors/region-selectors.spec.js
  nala/blocks/smoke-test/smoke.page.js
  nala/blocks/smoke-test/smoke.spec.js
  nala/blocks/smoke-test/smoke.test.js
Labels: run-on-dme, testing-nala-tests

#181 MWPW-165157-Text is not visible when hover over button in Gnav
  edsdme/blocks/partners-navigation/partners-navigation.css
Labels: run-on-dme

#184 MWPW-162386-Font styles are different on Firefox vs. Chrome on the search page title
  edsdme/styles/styles.css
Labels: run-on-dme

#186 Mwpw 164550 search input fix
  edsdme/blocks/search-full/SearchCards.js
Labels: run-on-dme, do not merge

#194 reset error redirects counter cookie
  edsdme/scripts/utils.js
Labels: run-on-dme

#195 MWPW-165918-update domains (channelpartner and partner finder)
  edsdme/scripts/rewriteLinks.js
  test/scripts/rewriteLinks.jest.js
Labels: run-on-dme

#191 MWPW-165470-remove the term after logging out
  edsdme/scripts/utils.js
Labels: run-on-dme

#196 MWPW-165933 - announcements links point to stage
  edsdme/components/SinglePartnerCard.js
Labels: run-on-dme

#198 replace tags with placeholder value
  edsdme/components/SearchCard.js
  edsdme/scripts/utils.js
Labels: run-on-dme

#200 MWPW-166435 - handle partner finder localization through code
  edsdme/scripts/rewriteLinks.js
Labels: run-on-dme

#199 MWPW-166173-displays edit profile only for members, for others displa…
  edsdme/blocks/partners-navigation/features/profile/dropdown.js
Labels: run-on-dme

#203 MWPW-163288 - rewrite sales center links
  edsdme/scripts/rewriteLinks.js
  test/scripts/rewriteLinks.jest.js
Labels: run-on-dme

#201 MWPW-166256 - Translation on home page is not translated
  edsdme/blocks/announcements-preview/announcements-preview.js
Labels: run-on-dme

#202 MWPW-166658: personalize content loaded from fragmentns
  edsdme/scripts/personalization.js
  edsdme/scripts/scripts.js
  edsdme/styles/styles.css
Labels: run-on-dme

#205 MWPW-166658: add !important
  edsdme/styles/styles.css
Labels: run-on-dme

#204 MAPC 25.4 release
  edsdme/blocks/announcements-preview/announcements-preview.js
  edsdme/blocks/partners-navigation/features/profile/dropdown.js
  edsdme/blocks/partners-navigation/partners-navigation.js
  edsdme/components/SearchCard.js
  edsdme/components/SinglePartnerCard.js
  edsdme/scripts/links.js
  edsdme/scripts/personalization.js
  edsdme/scripts/rewriteLinks.js
  edsdme/scripts/scripts.js
  edsdme/scripts/utils.js
  edsdme/styles/styles.css
  nala/blocks/banners/banners.page.js
  nala/blocks/banners/banners.test.js
  nala/blocks/signin/signin.page.js
  nala/blocks/signin/signin.spec.js
  nala/blocks/signin/signin.test.js
  nala/blocks/smoke-test/smoke.page.js
  test/scripts/links.jest.js
  test/scripts/rewriteLinks.jest.js
Labels: run-on-dme
